<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
<div class="container text-center">
    <h1 class="mb-4">Sistema de Gerenciamento</h1>
    <div class="d-grid gap-3 col-6 mx-auto">
        <a href="/alunos/" class="btn btn-primary btn-lg">Gerenciar Alunos</a>
        <a href="/cursos/" class="btn btn-primary btn-lg">Gerenciar Cursos</a>
    </div>
</div>

</body>
</html>